@import '~ui-variables';
@import '~ui-mixins';

@width: 100%;

.@{prefix-cls}-input:not([type='checkbox']):not([type='radio']) {
  border: 1px solid @ui-color-gray-light;
  color: @ui-color-black;
  cursor: text;
  display: block;
  width: 100%;
  font-weight: @ui-fontweight;
  background-color: @ui-color-white;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: border-color @ui-transition-fast ease;
  &[disabled] {
    background-color: fade(@ui-color-gray-lightest, 60%);
    color: @ui-color-gray;
    cursor: not-allowed;
  }
  &[readonly] {
    color: @ui-color-gray;
    cursor: default;
  }
}

// Size ........................................................................

.@{prefix-cls}-input--sm:not([type='checkbox']):not([type='radio']) {
  height: @ui-unit-plus;
  font-size: @ui-fontsize-mini;
  padding-left: @ui-unit-half;
  padding-right: @ui-unit-half;
  border-radius: @ui-radius;
}

.@{prefix-cls}-input--md:not([type='checkbox']):not([type='radio']) {
  height: @ui-unit-plus + @ui-unit-quarter;
  font-size: @ui-fontsize;
  padding-left: @ui-unit-half + 2px;
  padding-right: @ui-unit-half + 2px;
  border-radius: @ui-radius-md;
}

.@{prefix-cls}-input--lg:not([type='checkbox']):not([type='radio']) {
  height: @ui-unit-double;
  font-size: @ui-fontsize;
  padding-left: @ui-unit-half + @ui-unit-quarter;
  padding-right: @ui-unit-half + @ui-unit-quarter;
  border-radius: @ui-radius-md;
}

// Prefix & Suffix ..........................................................

.@{prefix-cls}-input__affix-wrapper {
  position: relative;
  &--prefix, &--suffix {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    i:before {
      .ui-mixin-icon(@ui-fontsize-medium);
      width: @ui-unit-plus;
      color: @ui-color-slate-lightest;
    }
  }
  &--prefix {
    left: 12px;
  }
  &--suffix {
    right: 12px;
  }
}

.@{prefix-cls}-input--prefix:not([type='checkbox']):not([type='radio']) {
  padding-left: @ui-unit-plus;
}

.@{prefix-cls}-input--suffix:not([type='checkbox']):not([type='radio']) {
  padding-right: @ui-unit-plus;
}

// Focus & Hover ...............................................................

.local-mixin-focus-outline(@color: @ui-color-blue) {
  border: 1px solid @color;
  box-shadow: 0 0 0 1px fade(@color, 75%);
  border-radius: @ui-radius;
}
.local-mixin-hover-outline(@color: @ui-color-blue) {
  .local-mixin-focus-outline(fade(@color, 25%));
}
.local-mixin-no-outline() {
  border: 1px solid transparent !important;
  box-shadow: none !important;
}

.@{prefix-cls}-input[type="text"]:not(:disabled):not(:read-only) {
  &:hover {
    .local-mixin-hover-outline();
  }
  &:focus {
    .local-mixin-focus-outline();
  }
}
