@import '~ui-variables';
@import '~ui-mixins';

.ui-mixin-keyframes(
  move-progress-bar,
  {background-position: 0 0;},
  {background-position: @ui-unit-double @ui-unit-double;}
);

.@{prefix-cls}-button {
  .ui-mixin-unselectable();
  cursor: pointer;
  max-width: 100%;
  margin-right: @ui-unit-half;
  align-items: center;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  transition: background-color .2s ease, color .2s ease, border-color .2s ease;

  &:not(.@{prefix-cls}-button--text):not(.@{prefix-cls}-button--link) {
    &:hover {
      span {
        text-decoration: none;
      }
    }
    span {
      .ui-mixin-button-text();
      .ui-mixin-text-ellipsis();
      padding: 0 @ui-unit-half;
      white-space: nowrap;
      word-wrap: normal;
      overflow: hidden;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  & i.@{prefix-cls}-icon {
    .ui-mixin-reduce-l();
    margin-right: 0;
    font-size: 20px;
    line-height: @ui-fontsize;
    vertical-align: middle;
  }

  &--block {
    width: 100%;
    margin-top: @ui-unit-half;
    &:first-child {
      margin-top: 0;
    }
  }
}

// Type.........................................................................

.@{prefix-cls}-button {
  color: @ui-color-black;
  border: 1px solid @ui-color-gray-light;
  background-color: fade(@ui-color-white, 50%);
  &:hover {
    background-color: fade(@ui-color-gray-light, 50%);
  }
  &:visited {
    background-color: fade(@ui-color-white, 50%);
  }

  &--primary {
    color: @theme-text;
    border: 1px solid @theme;
    background-color: @theme;
    &:hover {
      border-color: @theme-dark;
      background-color: @theme-dark;
    }
  }

  &--accept {
    color: @ui-color-white;
    border: 1px solid @ui-color-green;
    background-color: @ui-color-green;
    &:hover {
      border-color: @ui-color-green-dark;
      background-color: @ui-color-green-dark;
    }
  }

  &--warning {
    color: @ui-color-white;
    border: 1px solid @ui-color-orange;
    background-color: @ui-color-orange;
    &:hover {
      border-color: @ui-color-orange-dark;
      background-color: @ui-color-orange-dark;
    }
  }

  &--danger {
    color: @ui-color-white;
    border: 1px solid @ui-color-red;
    background-color: @ui-color-red;
    &:hover {
      border-color: @ui-color-red-dark;
      background-color: @ui-color-red-dark;
    }
  }

  &--link, &--text {
    color: @theme;
    background-color: transparent !important;
    border: none !important;
    margin-left: @ui-unit-half !important;
    i.@{prefix-cls}-icon {
      font-size: @ui-fontsize;
      padding-left: 0;
    }
    div i {
      padding-right: @ui-unit-quarter;
    }
  }
  &--link:first-child, &--text:first-child {
      margin-left: 0 !important;
  }
  &--link:hover {
    color: @theme-dark;
    span {
      text-decoration: underline;
    }
  }
  &--text:hover {
    color: @theme-dark;
  }
}


// Ghost Button.................................................................

.@{prefix-cls}-button--ghost.@{prefix-cls}-button {
  color: @ui-color-black;
  border: 1px solid @ui-color-gray-light;
  background-color: transparent;
  &:hover {
    background-color: fade(@ui-color-gray-light, 50%);
  }
  &--primary {
    border: 1px solid @theme;
    color: @theme;
    &:hover {
      color: @theme;
      background-color: fade(@theme, 20%);
    }
  }
  &--accept {
    border: 1px solid @ui-color-green;
    color: @ui-color-green;
    &:hover {
      color: @ui-color-green;
      background-color: fade(@ui-color-green, 20%);;
    }
  }
  &--warning {
    border: 1px solid @ui-color-orange;
    color: @ui-color-orange;
    &:hover {
      color: @ui-color-orange;
      background-color: fade(@ui-color-orange, 20%);;
    }
  }
  &--danger {
    border: 1px solid @ui-color-red;
    color: @ui-color-red;
    &:hover {
      color: @ui-color-red;
      background-color: fade(@ui-color-red, 20%);;
    }
  }
  &--link, &--text {
    color: @theme;
  }
  &--link:hover, &--text:hover {
    color: @theme-dark;
  }
}

// Loading bar..................................................................

.@{prefix-cls}-button--loading {
  &,
  &:hover {
    background-color: transparent !important;
    border-color: transparent !important;
    cursor: default !important;
  }
  & > * {
    visibility: hidden;
  }
  &:after {
    content: '';
    background-size: @ui-unit-double @ui-unit-double;
    border-radius: inherit;
    visibility: visible;
    .ui-mixin-maximize();
    .ui-mixin-progress-bar-gradient(
            fade(@ui-color-gray-light, 65%),
            fade(@ui-color-gray-lighter, 65%)
    );
    .ui-mixin-animation(move-progress-bar, 1s, linear, infinite);
    margin: @ui-unit-half;
  }
  &.@{prefix-cls}-button--sm {
    &:after {
      zoom: .36;
    }
  }
}

// Size.........................................................................

.@{prefix-cls}-button--sm {
  &:not(.@{prefix-cls}-button--text):not(.@{prefix-cls}-button--link) {
    .ui-mixin-fixheight(@ui-unit);
    border-radius: @ui-unit-half;
    padding: 0;
    font-size: @ui-fontsize-small;
    min-width: @ui-unit;
  }
  &:not(:disabled):after {
    .ui-mixin-maximize(0-@ui-unit-half,0,0-@ui-unit-half,0);
  }
  i {
    font-size: @ui-fontsize-medium;
    &:before {
      font-size: @ui-fontsize-medium;
    }
  }
}

.@{prefix-cls}-button--md {
  &:not(.@{prefix-cls}-button--text):not(.@{prefix-cls}-button--link) {
    min-width: 82px;
    padding: @ui-unit-half - 1px;
    border-radius: @ui-unit;
  }
}

.@{prefix-cls}-button--lg {
  margin-right: @ui-unit;
  &:not(.@{prefix-cls}-button--text):not(.@{prefix-cls}-button--link) {
    .ui-mixin-fixheight(@ui-unit-plus);
    border-radius: 28px;
    padding: 24px;
    font-size: @ui-fontsize-big;
    min-width: @ui-unit-plus;
  }
}

// Colorful background..........................................................

.@{prefix-cls}-bg-colorful .@{prefix-cls}-button {
  color: @ui-color-white;
  border: 1px solid @ui-color-white;
  background-color: transparent;
  &:hover {
    color: @ui-color-white;
    border: 1px solid fade(@ui-color-white, 30%);
    background-color: fade(@ui-color-white, 30%);
  }
  &--primary {
    color: @ui-color-black;
    background-color: @ui-color-white;
    &:hover {
      color: fade(@ui-color-black, 70%);
      background-color: @ui-color-white;
    }
  }
  &--accept {
    color: @ui-color-green;
    background-color: @ui-color-white;
    &:hover {
      color: fade(@ui-color-green, 70%);
      border: 1px solid @ui-color-white;
      background-color: @ui-color-white;
    }
  }
  &--warning {
    color: @ui-color-orange;
    background-color: @ui-color-white;
    &:hover {
      color: fade(@ui-color-orange, 70%);
      border: 1px solid @ui-color-white;
      background-color: @ui-color-white;
    }
  }
  &--danger {
    color: @ui-color-red;
    background-color: @ui-color-white;
    &:hover {
      color: fade(@ui-color-red, 70%);
      border: 1px solid @ui-color-white;
      background-color: @ui-color-white;
    }
  }
  &--link, &--text {
    color: @ui-color-white;
    &:hover {
      color: fade(@ui-color-white, 70%);
    }
  }
  &[disabled] {
    background-color: fade(@ui-color-white, 30%);
    border: 1px solid fade(@ui-color-white, 0%);
    color: fade(@ui-color-white, 40%);
    &:hover {
      background-color: fade(@ui-color-white, 30%);
      border: 1px solid fade(@ui-color-white, 0%);
      color: fade(@ui-color-white, 40%);
    }
  }
}

// Icon Button..................................................................

.@{prefix-cls}-button__icon-only {
  &:not(.@{prefix-cls}-button--text):not(.@{prefix-cls}-button--link) {
    width: @ui-unit-double;
    height: @ui-unit-double;
    min-width: @ui-unit;
    border-radius: 50%;
  }
  &.@{prefix-cls}-button--sm {
    width: @ui-unit !important;
    i.@{prefix-cls}-icon:before {
      font-size: 13px;
    }
  }
  i.@{prefix-cls}-icon {
    .ui-mixin-reduce-l(0);
    font-size: @ui-fontsize-icon;
  }
}

// Disabled ....................................................................

.@{prefix-cls}-button[disabled] {
  cursor: not-allowed;
  color: fade(@ui-color-gray, 80%);
  border: 1px solid @ui-color-gray-lighter;
  background-color: @ui-color-gray-lighter;
  &:hover {
    color: fade(@ui-color-gray, 80%);
    border: 1px solid @ui-color-gray-lighter;
    background-color: @ui-color-gray-lighter;
  }
}

.@{prefix-cls}-button--link[disabled], .@{prefix-cls}-button--text[disabled] {
  margin-left: @ui-unit-half;
  &:first-child {
    margin-left: 0;
  }
}
