@import '~ui-variables';
@import '~ui-mixins';

@outset: -1.2px;

.mixin-micro-button() {
  &.@{prefix-cls}-button,
  &.@{prefix-cls}-button_primary,
  &.@{prefix-cls}-button_secondary,
  &.@{prefix-cls}-button_tertiary {
    .ui-mixin-fixheight(@ui-unit);
    border-radius: @ui-unit-half;
    padding: 0;
    font-size: @ui-fontsize-small;
    min-width: @ui-unit;
  }
  &:not(:disabled):after {
    .ui-mixin-maximize(0-@ui-unit-half,0,0-@ui-unit-half,0);
  }
  > i {
    font-size: @ui-fontsize-big;
    &:before {
      font-size: @ui-fontsize-big;
    }
  }
  &.ui-is-loading {
    &:after {
      margin: @ui-unit-half 0;
    }
  }
}

.@{prefix-cls}-button {
  .ui-mixin-unselectable();
  color: @theme;
  cursor: pointer;
  min-width: @ui-unit-double;
  max-width: 100%;
  margin-right: @ui-unit-half;
  text-align: center;
  position: relative;
  display: inline-block;
  transition: background-color .2s ease, color .2s ease, border-color .2s ease;

  &:last-child {
    margin-right: 0;
  }

  & > i.@{prefix-cls}-icon {
    .ui-mixin-reduce-l();
    margin-right: 0;
    font-size: 20px;
    + span {
      top: -1px;
    }
  }

  & > span {
    line-height: @ui-unit;
    display: inline-block;
    vertical-align: middle;
  }

  &_nofocus {
    &:before {
      display: none !important;
    }
  }

  &_primary, &_secondary, &_tertiary, &[disabled] {
    padding: @ui-unit-half;
    border-radius: @ui-unit;
    //.ui-mixin-fixheight(@ui-unit-double); // IE10 may otherwise grow on focus :/
    & > span {
      .ui-mixin-button-text();
      .ui-mixin-text-ellipsis();
      padding: 0 @ui-unit-half;
      line-height: @ui-unit - 2px;
      margin-top: -2px;
      white-space: nowrap;
      word-wrap: normal;
      position: relative;
      overflow: hidden;
    }
    &:before {
      content: '';
      .ui-mixin-maximize(@outset, @outset, @outset, @outset);
      border-radius: @ui-unit + 2.5px;
      border: 2.75px solid transparent;
    }
  }

  &_primary {
    background-color: @theme;
    color: @theme-text;
    border: 1px solid @theme;
    &:hover {
      color: @theme-text;
      border-color: @theme-dark;
      background-color: @theme-dark;
    }
    &:focus:before {
      border-color: @theme-darker;
    }
  }

  &_secondary {
    background-color: transparent;
    border: 1px solid @theme;
    color: @theme;
    &:hover {
      background-color: @theme;
      color: @ui-color-white;
    }
    &:focus:before {
      border-color: @theme-dark;
    }
  }

  &_tertiary {
    background-color: fade(@ui-color-white, 50%);
    color: @ui-color-black;
    border: 1px solid @ui-color-gray-light;
    &:hover {
      background-color: fade(@ui-color-gray-light, 50%);
    }
    &:focus:before {
      border-color: @theme;
    }
  }

  &_micro {
    .mixin-micro-button()
  }

  &_block {
    width: 100%;
    margin-top: @ui-unit-half;
    &:first-child {
      margin-top: 0;
    }
  }

  &__icon-only {
    width: @ui-unit-double;
    height: @ui-unit-double;
  }
}

.@{prefix-cls}-button__icon-only {
  & > i.@{prefix-cls}-icon {
    .ui-mixin-reduce-l(0);
    font-size: @ui-fontsize-icon;
  }
}

.@{prefix-cls}-button__icon-only:not(:disabled):not(.@{prefix-cls}-button_primary):not(.@{prefix-cls}-button_secondary) {
  & > i.@{prefix-cls}-icon {
    color: @ui-color-black;
  }
}

.@{prefix-cls}-button[disabled] {
  cursor: not-allowed;
  color: @ui-color-gray-light;
  border: 1px solid @ui-color-gray-lighter;
  background-color: @ui-color-gray-lightest;

}
