@import '~ui-variables';
@import '~ui-mixins';

.@{prefix-cls}-board {
  position: relative;
  .ui-mixin-rounded();
  background-color: @ui-color-white;
  &_classic {
    border: 1px solid @ui-color-gray-light;
  }
  &_simple {
    border: none;
  }

  &__header_classic, &__header_simple {
    .ui-mixin-rounded(@ui-radius, @ui-radius, 0, 0);
    .ui-mixin-reduce(@ui-unit);
    padding-top: @ui-unit-half;
    padding-bottom: @ui-unit-half;
    font-weight: @ui-fontweight-semibold;
    overflow: hidden;
    .@{prefix-cls}-board__header-title {
      float: left;
    }
    .@{prefix-cls}-board__header-buttons {
      float: right;
    }
  }

  &__header_classic {
    border-bottom: 1px solid @ui-color-gray-light;
  }

  &__header_simple {
    background-color: hsl(200, 23%, 95%);
  }

  &__body {
    padding: @ui-unit;
    overflow: visible;
  }

  .@{prefix-cls}-tabs__list {
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: none;
  }

  .@{prefix-cls}-tabs__panel {
    padding-top: 0;
  }
}
