@import "~ui-variables";
@import "~ui-mixins";

@padding-lr: 9vw;

.home {
  background-color: @ui-color-white;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}

.home__banner {
  position: relative;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: @ui-color-gray-lightest;
  &-background {
    position: absolute;
    height: 830px;
    overflow: hidden;
    right: 0;
    top: 0;
    &-image {
      position: relative;
      height: 830px;
      right: -220px;
      top: -28px;
      z-index: 0;
      user-select: none;
    }
  }
  &-center {
    position: relative;
    color: @ui-color-black;
    text-align: left;
    margin-left: @padding-lr;
    font-size: @ui-fontsize-medium;
    h1 {
      margin-bottom: 30px;
      width: 400px;
      font-size: 34px;
      line-height: 50px;
      font-weight: @ui-fontweight-semibold;
      font-family: 'Droid Sans', @ui-fontstack;
    }
    p {
      margin-bottom: 30px;
      width: 450px;
      line-height: 30px;
      color: @ui-color-slate-lightest;
    }
  }
  &-btn {
    width: 190px;
    height: 56px;
    font-size: 18px;
    margin-right: @ui-unit !important;
    border-radius: 28px;
  }
}

.home__middle {
  background-image: url('/img/home_middle.png');
  background-position: left 0 top -2px;
  background-size: 100% auto;
  background-repeat: no-repeat,no-repeat,no-repeat;
  background-color: @ui-color-white;
  > .center {
    padding-top: 22vh;
    padding-bottom: 26vh;
  }
  width: 100%;
  &-code {
    border-radius: 10px;
    box-shadow: 5px 5px 100px rgba(104, 104, 104, 0.17);
  }
  &-content {
    padding-bottom: 20px;
    h2 {
      color: @theme;
      margin-top: .5em;
      margin-bottom: 1em;
      @media (min-width: 320px) {
        font-size: 24px;
      }
      @media (min-width: 960px) {
        font-size: 36px;
      }
    }
    p {
      font-size: @ui-fontsize-medium;
      line-height: 30px;
      color: @ui-color-slate-lightest;
    }
  }
}
