@import '~core';

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 24.475%;
}

.gutter-sizer {
  width: .7%;
}

.grid-item {
  float: left;
  margin-bottom: 10px;
  position: relative;
  .grid-item-cover {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: @white;
    text-align: center;
    cursor: pointer;
  }
  &:hover .grid-item-cover {
    display: block;
  }
}

.grid-item img {
  display: block;
  max-width: 100%;
  cursor: pointer;
  //&:hover {
  //  background-color: rgba(0, 0, 0, 0.5);
  //  color: @white;
  //  text-align: center;
  //}
}
