@import '~variable';

.cmui-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .cmui-upload__children {
    text-align: center;
    display: table;
    margin: 0 auto;
    margin-bottom: @unit-double;
  }
}
.cmui-upload__listbox {
  position: relative;
  left: 0px;
  background-color: #fff;
  opacity: 1;
}
.cmui-upload__filelist {
  padding-top: 10px;
  background-color: #fff;
}
.cmui-upload__filelist_row {
  margin: 10px 0px;
  span {
    padding-right: 10px;
  }
}