@import "~ui-variables";

@width: @ui-unit-triple;
@color-primary-nav-item: @ui-color-slate;
@color-secondary-nav-item: @ui-color-slate-light;
@color-hover-nav-item: @ui-color-gray-darker;
@color-active-nav-item: @theme;

.@{prefix-cls}-nav-bar {
  position: relative;
  user-select: none;
  font-weight: @ui-fontweight-medium;
  display: flex;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: @theme-text;
  }
  &__left {
    padding: 0;
    background-color: @color-primary-nav-item;
    width: @width;
  }
}

.@{prefix-cls}-nav-bar__sub-nav-container {
  display: flex;
  & > div {
    display: flex;
  }
}

.@{prefix-cls}-nav-bar__item,
.@{prefix-cls}-nav-bar__sub-nav,
.@{prefix-cls}-nav-bar__sub-nav-container,
.@{prefix-cls}-nav-bar__left-icon {
  > .@{prefix-cls}-nav-bar__left-icon-wrapper {
    display: block;
    color: @theme-text;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: @ui-unit;
    padding-left: @ui-unit;
    font-size: @ui-fontsize;
  }
  > .@{prefix-cls}-nav-bar_item-entity {
    display: block;
    color: @theme-text;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    padding: @ui-unit-half - 2px;
    border-radius: @ui-radius;
    font-size: @ui-fontsize;
    &:hover {
      background-color: @color-hover-nav-item;
      text-decoration: none;
    }
    &:active {
      background-color: @color-active-nav-item;
      transition-property: color, border-color, background, padding;
      transition-duration: 0.3s, 0.3s, 0.3s, 0.15s;
      transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1);
      transition-delay: initial;
    }
  }
  .@{prefix-cls}-nav-bar__item {
    border-left: 0;
    border-right: 0;
    margin-bottom: 2px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .@{prefix-cls}-nav-bar__item-group {
    cursor: default;
    &-title {
      color: @ui-color-gray;
      font-size: @ui-fontsize;
      line-height: 1.5;
      padding-top: @ui-unit;
      padding-bottom: @ui-unit-half;
    }
    &:first-child {
      .@{prefix-cls}-nav-bar__item-group-title {
        padding-top: 0;
      }
    }
  }
}

.@{prefix-cls}-nav-bar__sub-nav {
  &:last-child {
    border-bottom: 1px solid @ui-color-slate-darkest;
  }
  &-right {
    width: 0;
    opacity: 0;
    background-color: @color-secondary-nav-item;
    padding: 20px 15px;
    overflow: hidden;
    transition: opacity 1s ease-out;
    &-title {
      font-size: @ui-fontsize-medium;
      font-weight: @ui-fontweight-semibold;
      margin-bottom: 19px;
      color: @theme-text;
    }
    &-close {
      position: absolute;
      cursor: pointer;
      right: 15px;
      top: @ui-unit-plus;
      color: @theme-text;
    }
    &--open {
      //display: block;
      width: 300px;
      opacity: 1;
    }
  }
}

.@{prefix-cls}-nav-bar__left-icon {
  > .@{prefix-cls}-nav-bar__left-icon-wrapper {
    cursor: default;
    padding: @ui-unit-half;
    text-align: center;
    height: @width;
    line-height: @width;
    vertical-align: middle;
    border-bottom: 1px solid @ui-color-slate-darkest;
    .@{prefix-cls}-nav-bar__left-icon-top-logo {
      width: @ui-unit-double;
      height: @ui-unit-double;
      border-radius: @ui-radius;
    }
  }
}

.@{prefix-cls}-nav-bar__item-icon,
.@{prefix-cls}-nav-bar__sub-nav-icon {
  display: block;
  width: 24px;
  height: 24px;
  &:hover {
    color: @theme;
  }
  svg {
    width: 24px !important;
    height: 24px !important;
    transform: scale(1.15);
  }
}

.@{prefix-cls}-nav-bar__left-icon-wrapper--active {
  color: @theme !important;
}

.@{prefix-cls}-nav-bar__item--active {
  > .@{prefix-cls}-nav-bar_item-entity {
    color: @theme-text;
    background-color: @theme;
  }
}
