@import "~ui-variables";

@width: @ui-unit-triple;
@width-icon: 24px;
@color-primary-nav-item: #252e33;
@color-secondary-nav-item: @ui-color-slate-light;
@color-hover-nav-item: @ui-color-gray-darker;
@color-active-nav-item: @theme;

.@{prefix-cls}-nav-bar {
  position: relative;
  user-select: none;
  font-weight: @ui-fontweight-medium;
  display: flex;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: @theme-text;
  }
  &__left {
    padding: 0;
    background-color: @color-primary-nav-item;
    width: @width;
    box-sizing: content-box;
    border-right: 1px solid @ui-color-slate-dark;
  }
  /* Sub nav container*/
  & > div {
    display: flex;
    transition: width 1s ease-out;
    & > div {
      display: flex;
      transition: width 1s ease-out;
    }
  }
}
/* NavBar - Left side including logo, icons, apps and avatar */
.@{prefix-cls}-nav-bar__left {
  &-top {
    &-wrapper {
      cursor: default;
      padding: @ui-unit-half;
      text-align: center;
      height: @width;
      line-height: @width;
      vertical-align: middle;
      border-bottom: 1px solid @ui-color-slate-darker;
      .@{prefix-cls}-nav-bar__left-top-logo {
        width: @ui-unit-double;
        height: @ui-unit-double;
        border-radius: @ui-radius;
      }
    }
  }
  &-icon {
    &:last-child {
      border-bottom: 1px solid @ui-color-slate-darker;
    }
    &-wrapper {
      display: block;
      color: @theme-text;
      text-decoration: none;
      position: relative;
      cursor: pointer;
      padding: 18px @ui-unit;
      font-size: @ui-fontsize;
      &--active {
        color: @theme;
      }
      &-core {
        display: block;
        width: @width-icon;
        height: @width-icon;
        right: 1px;
        &:hover {
          color: @theme;
        }
        svg {
          width: @width-icon;
          height: @width-icon;
          transform: scale(1.15);
        }
      }
    }
  }
  & > .@{prefix-cls}-nav-bar__item {
    margin-bottom: 0;
    &--active {
      .@{prefix-cls}-nav-bar__item-wrapper {
        color: @theme !important;
        background-color: transparent !important;
      }
    }
    .@{prefix-cls}-nav-bar__item-wrapper {
      display: block;
      color: @theme-text;
      text-decoration: none;
      position: relative;
      cursor: pointer;
      padding: 18px @ui-unit;
      font-size: @ui-fontsize;
      &:hover {
        background-color: transparent !important;
      }
      &-text {
        display: none;
      }
      &-icon {
        display: block;
        width: @width-icon;
        height: @width-icon;
        right: 1px;
        &:hover {
          color: @theme;
        }
        svg {
          width: @width-icon;
          height: @width-icon;
          transform: scale(1.15);
        }
      }
    }
  }
}

.@{prefix-cls}-nav-bar__sub-nav {
  //width: 0;
  //opacity: 0;
  background-color: @color-secondary-nav-item;
  > ul {
    height: calc(~"100vh - 60px");
    padding: 20px 20px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: @ui-unit-quarter;
    }

    &::-webkit-scrollbar:horizontal {
      height: @ui-unit-quarter;
    }

    &::-webkit-scrollbar-thumb {
      background-color: @ui-color-gray-darkest;
      border-radius: @ui-radius;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: @ui-color-slate-lightest;
    }
  }
  &-title {
    font-size: @ui-fontsize-medium;
    font-weight: @ui-fontweight-semibold;
    padding: 20px;
    padding-bottom: 19px;
    //margin-bottom: 19px;
    border-bottom: 1px solid @ui-color-slate;
    color: @theme-text;
  }
  &-close-btn {
    position: absolute;
    cursor: pointer;
    right: 15px;
    top: @ui-unit-plus;
    color: @theme-text;
  }
  &--open {
    //display: block;
    width: 300px;
    opacity: 1;
  }
  &-item-group {
    cursor: default;
    &-title {
      color: @ui-color-gray;
      font-size: @ui-fontsize;
      line-height: 1.5;
      padding-top: @ui-unit;
      padding-bottom: @ui-unit-half;
    }
    &:first-child {
      .@{prefix-cls}-nav-bar__sub-nav-item-group-title {
        padding-top: 0;
      }
    }
    .@{prefix-cls}-nav-bar__item-wrapper {
      padding-left: 25px;
    }
  }
}

.@{prefix-cls}-nav-bar__item {
  border-left: 0;
  border-right: 0;
  margin-bottom: 3px;
  &:last-child {
    margin-bottom: 0;
  }
  &-wrapper {
    display: block;
    color: @theme-text;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    padding: @ui-unit-half - 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: @ui-radius;
    font-size: @ui-fontsize;
    &:hover {
      background-color: @color-hover-nav-item;
      text-decoration: none;
    }
    &:active {
      background-color: @color-active-nav-item;
      transition-property: color, border-color, background, padding;
      transition-duration: 0.3s, 0.3s, 0.3s, 0.15s;
      transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1);
      transition-delay: initial;
    }
  }
  &--active {
    .@{prefix-cls}-nav-bar__item-wrapper {
      color: @theme-text;
      background-color: @theme;
    }
  }
}
