@import "~ui-variables";
@import "~ui-mixins";

.components {
  &__content-wrapper {
    height: ~'calc(100vh - @{ui-unit-triple})';
    overflow-y: scroll;
  }
  &__content {
    padding: 70px 60px 140px;
  }
}
