@import "~variable";
@primary-color-light: #cfeeff;
@primary-color: @theme;
@primary-color-deep: @theme-dark;
@primary-color-deeper: @theme-darker;

@header-padding: 40px;
@nav-parent-padding-left: 40px * 2;
@border-color: #f0f0f0;

@width: 274px;
@height: 40px;

.earthui-nav {
  ul {
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style: none;
  }
  > ul {
    padding: 0 0 28px 0;
  }
}

.earthui-nav__item {
  > a {
    display: block;
    color: #314659;
    text-decoration: none;
    position: relative;
    padding: 0 15px 0 @header-padding;
    line-height: @height;
    //border-bottom: 1px solid @border-color;
    border-radius: 0;
    //border-left: 3px solid #eaeaea;
    margin-bottom: 8px;
    font-size: @fontsize;
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      border-right: 3px solid transparent;
    }
    &:hover {
      //&:after {
      //  border-right-color: @primary-color;
      //}
      //background-color: @theme-liter;
      color: @theme;
      text-decoration: none;
    }
    &:active {
      //&:after {
      //  border-right-color: @primary-color;
      //}
      background-color: @theme-liter;
      transition-property: color, border-color, background, padding;
      transition-duration: 0.3s, 0.3s, 0.3s, 0.15s;
      transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1);
      transition-delay: initial, initial, initial, initial;
    }
  }
  > ul {
    display: none;
  }
  .earthui-nav__item {
    border-left: 0;
    border-right: 0;
    > a {
      padding-left: @nav-parent-padding-left;
    }
    .earthui-nav__item {
      > a {
        padding-left: @nav-parent-padding-left * 2;
      }
    }
  }
}

.earthui-nav__item-icon {
  margin-right: 10px;
  width: 1em;
  text-align: center;
}

.earthui-nav__item-toggle {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -6px;
  transition: transform .2s;
}

.earthui-nav__item_open {
  > ul {
    display: block;
  }
  .earthui-nav__item-toggle {
    transform: rotate(90deg);
  }
}

.earthui-nav__item_active {
  > a {
    color: @theme;
    background-color: @theme-liter;
    &:after {
      border-right-color: @primary-color;
    }
    &:hover,
    &:focus {
      color: @theme;
      background-color: @theme-liter;
    }
  }
}
