@import "~ui-variables";

@nav-width: 330px;
@color-menu-border: @ui-color-slate-darkest;
@color-menu-shadow-border: #0e1315;
@color-primary-nav-item: #232e33;
@color-secondary-nav-item: @ui-color-slate-dark;
@color-hover-nav-item: @ui-color-gray-darker;
@color-active-nav-item: @theme;
@transition-duration: @ui-transition-fast;
@transition-timing-function: cubic-bezier(0,0,.2,1);

.mixin-shadow() {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: @ui-unit-half;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(44, 44, 44, 0) 100%);
  border-bottom: 1px solid @color-menu-shadow-border;
}
.mixin-top-shadow() {
  .mixin-shadow();
  top: 0;
  transform: rotate(-180deg);
}
.mixin-bottom-shadow() {
  .mixin-shadow();
  bottom: 0;
  border-bottom-color: transparent;
}

.@{prefix-cls}-nav {
  position: relative;
  width: @nav-width;
  flex-shrink: 0;
  user-select: none;
  font-weight: @ui-fontweight-medium;
  transition: width @transition-duration @transition-timing-function;
  background-color: @color-primary-nav-item;
  &__top {
    height: @ui-unit-triple;
    color: @ui-color-white;
    background-color: @color-primary-nav-item;
    border-bottom: 1px solid @color-menu-border;
    position: relative;
    &-left-container {
      cursor: pointer;
      opacity: 0;
      position: absolute;
      top: 0;
      right: ~"calc(100% - 60px)";
      bottom: 0;
      left: 0;
      transition-property: opacity;
      transition-duration: .18s;
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
      padding: 19px;
      &-menu-icon {
        transform: scale(.867);
      }
      z-index: -1;
    }
    &-center-container {
      opacity: 1;
      position: absolute;
      top: 0;
      right: 60px;
      bottom: 0;
      left: 60px;
      transition: opacity 0.156s cubic-bezier(0.4, 0, 1, 1);
      &-logo {
        margin: 21px auto;
        display: block;
        width: 150px;
        height: 17px;
      }
    }
    &-right-container {
      opacity: 1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: ~"calc(100% - 60px)";
      transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1);
      padding: 10px;
    }
  }
  &__bottom {
    height: @ui-unit-triple;
    line-height: @ui-unit-triple;
    border-top: 1px solid @color-menu-border;
    color: @ui-color-white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: @color-primary-nav-item;
    user-select: none;
    &-image {
      float: left;
      height: @ui-unit-triple;
      width: @ui-unit-triple;
      &-icon {
        margin: @ui-unit-half;
        width: @ui-unit-double;
        height: @ui-unit-double;
        border-radius: 50% 50%;
      }
    }
    &-user {
      transition: opacity @transition-duration @transition-timing-function;
      padding: @ui-unit-half 0 @ui-unit-half @ui-unit-half;
      height: @ui-unit-triple;
      width: 80px;
      float: left;
      width: ~'calc(100% - 180px)';
      opacity: 1;
      &-name, &-company {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        line-height: @ui-unit;
        min-height: @ui-unit;
      }
      &-name {
        font-weight: @ui-fontweight-bold;
      }
      &-company {
        font-size: @ui-fontsize-mini;
      }
    }
    &-settings, &-logout {
      opacity: 1;
      float: right;
      width: @ui-unit-triple;
      height: @ui-unit-triple;
      text-align: center;
      cursor: pointer;
    }
  }
  &__scrollbar {
    height: calc(~"100vh - 120px");
    //top: @ui-unit-triple !important;
    //bottom: @ui-unit-triple !important;
    //background-color: @color-primary-nav-item;
  }
  ul {
    margin: 0;
    padding: 0;
    background-color: @color-secondary-nav-item;
    list-style: none;
    color: @theme-text;
  }
  > ul {
    padding: 0;
    width: 320px;
    //display: flex;
    //flex-direction: column;
    //> .@{prefix-cls}-nav__item,
    //> .@{prefix-cls}-nav__sub-nav {
    //  border-bottom: 1px solid @ui-color-slate;
    //}
  }
}

.@{prefix-cls}-nav__btn-icon {
  padding: @ui-unit-half;
  border: 1px solid transparent;
  color: @theme-text;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    background-color: fade(@ui-color-slate-darkest, 40%);
  }
}

.@{prefix-cls}-nav--collapsed {
  width: @ui-unit-triple;
  .@{prefix-cls}-nav__bottom-user {
    opacity: 0 !important;
  }
  .@{prefix-cls}-nav__bottom-settings {
    opacity: 0 !important;
  }
  .@{prefix-cls}-nav__top {
    &-left-container {
      opacity: 1;
      z-index: 1;
    }
    &-center-container,
    &-right-container {
      opacity: 0;
    }
  }
  //.@{prefix-cls}-nav__bottom {
  //  width: @ui-unit-triple;
  //}
  .@{prefix-cls}-nav_sub-nav-entity,
  .@{prefix-cls}-nav_item-entity {
    &-text {
      //display: none;
    }
  }
  .@{prefix-cls}-nav__sub-nav_open {
    > ul {
      width: 0;
      display: none;
    }
  }
  .@{prefix-cls}-nav__item-icon,
  .@{prefix-cls}-nav__sub-nav-icon {
    //margin-right: 0;
    //width: 24px;
    //height: 24px;
    //text-align: center;
  }
  .@{prefix-cls}-nav__item,
  .@{prefix-cls}-nav__sub-nav {
    //overflow-x: hidden;
    > .@{prefix-cls}-nav_item-entity,
    > .@{prefix-cls}-nav_sub-nav-entity {
      //width: 60px;
      height: 60px;
    }
  }
  .@{prefix-cls}-nav__sub-nav-toggle {
    opacity: 0;
  }
}

.@{prefix-cls}-nav__item,
.@{prefix-cls}-nav__sub-nav {
  background-color: @color-primary-nav-item;
  white-space: nowrap;
  > .@{prefix-cls}-nav_item-entity,
  > .@{prefix-cls}-nav_sub-nav-entity {
    display: block;
    position: relative;
    color: @theme-text;
    text-decoration: none;
    padding: @ui-unit;
    cursor: pointer;
    border-radius: 0;
    font-size: @ui-fontsize;
    &:hover {
      //&:after {
      //  border-right-color: @primary-color;
      //}
      z-index: 1;
      background-color: @color-hover-nav-item;
      text-decoration: none;
      transition: background-color .2s ease-in;
    }
    &:active {
      //&:after {
      //  border-right-color: @primary-color;
      //}
      background-color: @color-active-nav-item;
      transition-property: color, border-color, background, padding;
      transition-duration: 0.3s, 0.3s, 0.3s, 0.15s;
      transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1);
      transition-delay: initial, initial, initial, initial;
    }
  }
  > ul {
    display: none;
    position: relative;
    &:before {
      .mixin-top-shadow();
    }
    &:after {
      .mixin-bottom-shadow();
    }
  }
  .@{prefix-cls}-nav__item {
    background-color: @color-secondary-nav-item;
    border-left: 0;
    border-right: 0;
  }
  .@{prefix-cls}-nav__item-group {
    cursor: default;
    .@{prefix-cls}-nav__item-group-title {
      color: @theme-text;
      font-size: @ui-fontsize;
      line-height: 1.5;
      padding: 8px 16px;
    }
  }
}

.@{prefix-cls}-nav__item, .@{prefix-cls}-nav__sub-nav {
  // border-bottom: 1px solid lighten(@ui-color-slate-darkest, 16%);
}

.@{prefix-cls}-nav__item-icon,
.@{prefix-cls}-nav__sub-nav-icon {
  margin-right: 20px;
  //width: 1em;
  text-align: center;
}

.@{prefix-cls}-nav__sub-nav-toggle {
  position: absolute;
  right: 20px;
  top: 50%;
  //margin-top: -6px;
  transition-property: transform, opacity;
  transition-duration: 0.2s;
  transition-timing-function: @transition-timing-function;
  font-size: 12px;
  //transform: scale(.8);
}

.@{prefix-cls}-nav__sub-nav_open {
  > ul {
    display: block;
    //box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45) inset;
    //background-color: @color-secondary-nav-item;
  }
  .@{prefix-cls}-nav__sub-nav-toggle {
    transform: rotate(90deg);
  }
}

.@{prefix-cls}-nav__item_active {
  > .@{prefix-cls}-nav_item-entity {
    color: @theme-text;
    background-color: @theme;
    z-index: 1;
    //&:after {
    //  border-right-color: @primary-color;
    //}
    //&:hover,
    //&:focus {
    //  color: @theme;
    //  background-color: @theme-lighter;
    //}
  }
}
